<section class="has-background-dark">
  <div class="hero-body is-full ">
    <div class="columns">
    
      <div class="column">
        <p class="title has-text-primary">
            Welcome to Tech Blog-Topia!
       </p>
        <p class="subtitle has-text-light ml-6 ">
            - the most bloggingest 
            <strong class="has-text-danger">"Topia"</strong> 
            you'll ever visit!
        </p>

      </div>

      <div class="column">

    <div class="tile is-parent">
      <article class="tile is-child notification is-danger border border-4 border-dark">
        <p class="title">## Lets Talk Tech</p>
        <div class="content">
      </div>
    </div>  


    <div class="tile is-parent">
      <article class="tile is-child notification is-primary border border-4 border-dark">
        <p class="title has-text-dark">Recent Posts</p>
        <div class="content">
          <div class="box has-background-danger has-text-white border border-4 border-dark">
            <p>BLOG POSTS WILL SHOW HERE</p>
                       {{!-- {{blogs}} --}}
          </div>
      </div>
    </div>  
  </div>


</section>






{{!-- handlebar snippet example to show blog posts
      
      <section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{#each blogposts}}
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{image}}">
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4">{{title}}</p>
              <p class="subtitle is-6">{{author}}</p>
            </div>
            <div class="content">
              <p>{{summary}}</p>
              <time datetime="{{publishedDate}}">{{publishedDate}}</time>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section> --}}